# Enable Rewrite Engine
RewriteEngine On

# Redirect URLs without .html to .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Remove .html from the browser address bar
RewriteCond %{THE_REQUEST} "GET /(.*)\.html "
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
